*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: orange;
}

.cursor {
  width: 3rem;
  height: 3rem;
  border: 1px solid black;
  border-radius: 50%;
  position: absolute;
  z-index: -1;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: 0.3s ease;
  transition-property: background, transform;
  transform-origin: 100% 100%;
}

header {
  display: flex;
  width: 90%;
  margin: auto;
  justify-content: space-between;
  height: 10vh;
  align-items: center;
}

.logo {
  flex: 2;
}

.logo img {
  width: 45px;
}

nav {
  flex: 1;
}

ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
}

li{
  padding: 1rem;
}

li a {
  text-decoration: none;
  color: black;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}

.link-grow {
  transform: scale(2);
  background-color: black;
}

main {
  height: 90vh;
  width: 90%;
  margin: auto;
}

.home-illustration {
  position: absolute;
  bottom: 0%;
  right: 50%;
  transform: translate(50%, 0%);
  width: 850px;
}

.ellipse {
  position: absolute;
  bottom: 0%;
  right: 50%;
  transform: translate(50%, 0%);
  width: 500px;
  z-index: -1;
}

main h1 {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  text-align: center;
  font-size: 64px;
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translateX(-50%);
}

main p {
  position: absolute;
  left: 4%;
  top: 50%;
  font-family: "Poppins", sans-serif;
  transform: rotate(-90deg);
}

.sdate {
  position: absolute;
  left: 92%;
  top: 50%;
  transform: rotate(-90deg);
}

section {
  height: 100vh;
}

.hover{
  color: white;
}